*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'montserratlight';
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
/*----------секция доставки-----------*/
.delivery{
    background: #212121;
    color: #ffff;
}
.delivery .container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69px;
}
.delivery h2{
    font-size: 30px;
    margin-bottom: 13px;
}
.delivery h2 span{
    font-weight: normal;
}
.delivery p{
    font-size: 21px;
}
/*--------секция м и ж ---------*/
.man-women .container{
    display: flex;
    flex-direction: row;
}
.man,
.women{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}
.man-women h2{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.man-women h2 span{
    font-weight: normal;
}
.man-women a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}
.man-women a:hover,
.man-women a:focus{
    background-color: #d87936;
}
.man{
    background: url(../css/img/mygchina.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.women{
    padding-left: 35px;
    background: url(../css/img/gengina.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.man-women{
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}